/*@media screen and (max-width: 1800px) {*/
/*    section#work {*/
/*        width: 70%;*/
/*    }*/
/*    .section-work-body-wrapper {*/
/*        display: grid;*/
/*        grid-template-columns: auto auto;*/
/*        gap: 5%;*/
/*        margin-bottom: 35%;*/
/*    }*/
/*    .section-contact-wrapper ul li {*/
/*        padding-left: 15%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 1285px) {*/
/*    section#work {*/
/*        width: 85%;*/
/*    }*/
/*    .section-work-body-wrapper {*/
/*        gap: 2%;*/
/*        margin-bottom: 15%;*/
/*    }*/
/*    section.introduction p {*/
/*        width: 80%;*/
/*    }*/
/*    .section-contact-wrapper ul li {*/
/*        padding-left: 10%;*/
/*    }*/
/*    .section-experience-body-wrapper {*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 1032px) {*/
/*    .App {*/
/*        width: 98%;*/
/*    }*/
/*    section.introduction h3 {*/
/*        font-size: 1.2em;*/
/*    }*/
/*    section.introduction h1 {*/
/*        font-size: 4em;*/
/*    }*/
/*    section.introduction h2 {*/
/*        font-size: 1.9em;*/
/*    }*/
/*    section.introduction p {*/
/*        font-size: 1.4em;*/
/*        width: 90%;*/
/*    }*/
/*    .section-contact-wrapper ul li {*/
/*        padding-left: 5%;*/
/*    }*/
/*    .section-heading-wrapper hr {*/
/*        width: 20%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 776px) {*/
/*    nav a {*/
/*        padding: 5px;*/
/*    }*/
/*}*/

@media screen and (max-width: 821px) {
    .App {
        width: 99%;
        margin: 0 auto;

    }

    .logo {
        display: none;
    }

    header {
        background-color: #282634;
        justify-content: center;
    }

    nav a {
        padding: 5px;
        font-size: 1em;
    }

    section {
        width: 90%;
    }

    .section-heading-wrapper h1 {
        font-size: 2em;
    }

    .section-heading-wrapper hr {
        margin: 20px 0 0 25px;
    }


    /* INTRODUCTION */
    section.introduction {
        height: fit-content;
        margin-bottom: 10%;
    }

    section.introduction h3 {
        font-size: 1.6em;
    }

    section.introduction h1 {
        font-size: 3em;
    }

    section.introduction p {
        margin-top: 15px;
        color: #a4a4a4;
        font-size: 1.5em;
        width: 98%;
        margin-bottom: 55px;
    }

    .contact-me-button {
        text-align: center;
    }

    section.introduction a {
        font-size: 2em;
        padding: 10px;
    }


    /* ABOUT ME ▹ */
    .section-body-text {
        width: 100%;
        margin: 0 auto;
    }

    .section-body-text p {
        text-align: left;
        font-size: 1.5em;
        width: 98%;
    }

    .section-body-image {
        display: none;
    }

    .technology-list ul li {
        font-size: 0.9em;
    }


    /* EXPERIENCE */
    .section-experience-body-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .section-experience-menu {
        display: flex;
        flex-direction: row;
    }

    .section-experience-menu button {
        min-height: 40px;
        font-size: 1.3em;
        border-left: 0;
        border-bottom: 1px solid #a4a4a4;
        background-color: #252331;
    }

    .section-experience-menu button.active {
        border-left: 0;
        border-bottom: 2px solid #75C7E7;
    }

    .section-experience-content {
        margin-top: 30px;
    }

    .section-experience-content-item {
        padding-left: 0;
    }

    .section-experience-content-item h2 {
        font-size: 1.7em;
    }

    .section-experience-content-item .time-frame {
        font-size: 1.1em;
    }

    .section-experience-content-item ul {
        display: none;
    }


    /* WORK */
    section#work {
        padding: 0;
        width: 100%;
        height: fit-content;
        margin-bottom: 200px;
    }

    .section-work-body-wrapper {
        grid-template-columns: auto;
        gap: 1%;
        width: 90%;
        margin: 10% auto 0;
    }

    .work-item {
        padding: 20px 10px 50px;
    }

    .work-item-icon img {
        width: 45%;
    }

    .work-item h4 {
        margin-bottom: 0;
    }

    .work-item-text {
        font-size: 1.2em;
    }


    /* CONTACT */
    .section-contact-wrapper p {
        font-size: 1.7em;
        margin-top: 10%;
        margin-bottom: 5%;
    }


    .section-contact-wrapper ul li {
        color: #a4a4a4;
        font-size: 1.2em;
        padding-left: 0;
        margin-bottom: 10px;

    }

    .section-contact-wrapper li a {
        color: #E4E2E2;
        text-decoration: none;
        font-family: 'Chakra Petch', sans-serif;
        cursor: pointer;
    }


    /* FOOTER */
    footer a {
        padding-bottom: 0;
        font-size: 0.8em;
        text-decoration: none;
    }
}